<div>
  <div class="flex justify-around">
    @if (ethereumData().length > 0) {
    <!-- <p>Step actual: {{ step }}</p> -->
    <p>Dinero actual: {{ money }}</p>
    <p>Fecha: {{ lastData().timeOpen | date : "dd/MM/yyyy" }}</p>
    <p>Precio actual: {{ lastData().priceClose | number : "1.0-0" }}</p>
    <p>Low: {{ lastData().priceLow | number : "1.0-0" }}</p>
    <p>Higth: {{ lastData().priceHigh | number : "1.0-0" }}</p>
    <p>Higth: {{ lastData().priceHigh | number : "1.0-0" }}</p>
    <p>Profit: {{ profit() }}</p>
    <button
      (click)="nextStep()"
      class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded inline-flex items-center"
    >
      Siguiente
      <svg
        class="w-4 h-4 ml-2"
        fill="none"
        stroke="currentColor"
        viewBox="0 0 24 24"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M9 5l7 7-7 7"
        ></path>
      </svg>
    </button>

    }
  </div>
  <section class="flex justify-around">
    <section>
      <p-table [value]="orders()">
        <ng-template pTemplate="header">
          <tr>
            <th>Buy Price</th>
            <th>Sell Price</th>
            <th>Status</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-order>
          <tr>
            <td>{{ order.buyPrice }}</td>
            <td>{{ order.sellPrice }}</td>
            <td>
              <p-tag
                [value]="order.status"
                [severity]="
                  order.status === 'pendingToBuy' ? 'success' : 'danger'
                "
              ></p-tag>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </section>
    <section>
      <p-table
        [value]="historicalClosedPosition()"
        [tableStyle]="{ 'min-width': '50rem' }"
      >
        <ng-template pTemplate="caption">
          <div class="text-center">Historical Closed Positions</div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th>Buy Date</th>
            <th>Sell Date</th>
            <th>Total Days Open</th>
            <th>Buy Price</th>
            <th>Sell Price</th>
            <th>Revenue</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-closedPosition>
          <tr>
            <td>{{ "23-07-01" }}</td>
            <td>{{ "23-07-01" }}</td>
            <td>{{ "8" }}</td>
            <td>{{ closedPosition.buyPrice }}</td>
            <td>{{ closedPosition.sellPrice }}</td>
            <td>{{ closedPosition.profit | number : "1.3-3" }}</td>
          </tr>
        </ng-template>
      </p-table>
    </section>
  </section>
</div>
