<div>
  <div class="flex justify-around">
    @if (ethereumData().length > 0) {
    <p>Step actual: {{ step }}</p>
    <p>Dinero actual: {{ money }}</p>
    <p>Fecha: {{ ethereumData()[step].timeOpen | date : "dd/MM/yyyy" }}</p>
    <p>Precio: {{ ethereumData()[step].priceLow | number : "1.0-0" }}</p>
    <p>Precio: {{ ethereumData()[step].priceHigh | number : "1.0-0" }}</p>

    <button
      (click)="nextStep()"
      class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded inline-flex items-center"
    >
      Siguiente
      <svg
        class="w-4 h-4 ml-2"
        fill="none"
        stroke="currentColor"
        viewBox="0 0 24 24"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M9 5l7 7-7 7"
        ></path>
      </svg>
    </button>

    }
  </div>
  <section class="flex justify-around">
    <div>
      <table>
        <caption>
          Orders
        </caption>
        <thead>
          <th>buildPrice</th>
          <th>sellPrice</th>
          <th>isPending</th>
        </thead>
        <tbody>
          @for (order of orders(); track $index) {
          <tr>
            <td>{{ order.buyPrice }}</td>
            <td>{{ order.sellPrice }}</td>
            <td>{{ order.isPending }}</td>
          </tr>
          }
        </tbody>
      </table>
    </div>
    <div>
      <table>
        <caption>
          Pending Buy Operation
        </caption>
        <thead>
          <th>action</th>
          <th>price</th>
        </thead>
        <tbody>
          @for (operation of pendingBuyOrders(); track $index) {
          <tr>
            <td>{{ operation.action }}</td>
            <td>{{ operation.price }}</td>
          </tr>
          }
        </tbody>
      </table>
    </div>
    <div>
      <table>
        <caption>
          Pending Sell Orders
        </caption>
        <thead>
          <th>sell price</th>
        </thead>
        <tbody>
          @for (sellOrder of pendingSellOrders(); track $index) {
          <tr>
            <td>{{ sellOrder.price }}</td>
          </tr>
          }
        </tbody>
      </table>
    </div>
    <div>
      <table>
        <caption>
          Historical Closed Positions
        </caption>
        <thead>
          <th>Buy Day</th>
          <th>Buy Sell</th>
          <th>Total Days Open</th>
          <th>Buy Price</th>
          <th>Sell Price</th>
          <th>Revenue</th>
        </thead>
        <tbody>
          @for (closedPosition of historicalClosedPosition(); track $index) {
          <tr>
            <td>{{ closedPosition.buyPrice }}</td>
            <td>{{ closedPosition.sellPrice }}</td>
            <td>{{ closedPosition.profit | number : "1.3-3" }}</td>
          </tr>
          }
        </tbody>
      </table>
    </div>
  </section>
</div>
